APP_NAME=stream-service
APP_PORT=3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=stream_service
DATABASE_PASSWORD=stream_service_password
DATABASE_NAME=stream_service

KAFKA_BROKERS=localhost:19094
KAFKA_CLIENT_ID=stream-service
KAFKA_GROUP_ID=stream-service

JWT_SECRET=change-this-secret-before-deployment
TOKEN_EXPIRATION=1000d
