APP_NAME=auth-service
APP_PORT=3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=auth_service
DATABASE_PASSWORD=auth_service_password
DATABASE_NAME=auth_service

KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=auth-service
KAFKA_GROUP_ID=auth-service

JWT_SECRET=change-this-secret-before-deployment
TOKEN_EXPIRATION=1000d
