APP_NAME=api-gateway
APP_PORT=3000
NODE_ENV=development

KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=api-gateway
KAFKA_GROUP_ID=api-gateway

JWT_SECRET=change-this-secret-before-deployment
TOKEN_EXPIRATION=1000d
